.logo{
    margin: 2rem;
}
.navbar{
    margin-top: -40px;
}

.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    margin-right: -200px;
}
.left{
    width: 400px;
    align-items: flex-start;
    text-align: left;
    margin-right: 100px;
    margin-left: 100px;

}

.left h1{
    font-family: Arial,;
    font-size: 50px;
    color: #000;
    font-weight: 800;
    text-align: left;
    margin-top: 50px;

}

.left p{
    font-size:15px;
    color: #1c1e21;
    font-family: sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 350px;
    text-align: left;

   
}
.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.icons{
    margin-top: 80px;
    margin-bottom: 0px;
    
}
.nav-link{
    margin-right: 25px;
}

@media  screen and(max-width:787px) {
    .page{
        flex-direction: column;
    }
    
    .left{
        width: 200px;
        align-items: flex-start;
        text-align: left;
        margin-right: 100px;
        margin-left: 100px;
    
    }
    
    .left h1{
        font-family: Arial,;
        font-size: 50px;
        color: #000;
        font-weight: 800;
        text-align: left;
        margin-top: 50px;
    
    }
    
    .left p{
        font-size:15px;
        color: #1c1e21;
        font-family: sans-serif;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 350px;
        text-align: left;
    
       
    }
    .left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .icons{
        margin-top: 80px;
        margin-bottom: 0px;
        
    }
    .nav-link{
        margin-right: 25px;
    }

    @media screen and (max-width:496px){
    
    }